{
    "overrides": [
        {
            "files": ["**/*.vue", "**/*.html"],
            "customSyntax": "postcss-html"
        }
    ],
    "plugins": [
        "stylelint-order"
    ],
    "extends": "stylelint-config-standard",
    "rules": {
        "order/properties-order": [
            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",
            "display",
            "flex",
            "flex-direction",
            "flex-wrap",
            "justify-content",
            "align-items",
            "order",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "float",
            "clear",
            "overflow",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "opacity",
            "visibility",
            "border-spacing",
            "border-collapse",
            "list-style",
            "list-style-position",
            "list-style-type",
            "list-style-image",
            "font",
            "font-family",
            "font-size",
            "line-height",
            "font-weight",
            "font-style",
            "font-variant",
            "font-size-adjust",
            "font-stretch",
            "font-effect",
            "text-align",
            "vertical-align",
            "white-space",
            "text-decoration",
            "text-indent",
            "text-justify",
            "letter-spacing",
            "word-spacing",
            "text-outline",
            "text-transform",
            "word-wrap",
            "word-break",
            "content",
            "quotes",
            "counter-reset",
            "counter-increment",
            "resize",
            "nav-index",
            "nav-up",
            "nav-right",
            "nav-down",
            "nav-left",
            "color",
            "background",
            "background-color",
            "background-image",
            "background-repeat",
            "background-attachment",
            "background-position",
            "background-position-x",
            "background-position-y",
            "background-clip",
            "background-origin",
            "background-size",
            "border",
            "border-radius",
            "outline",
            "box-shadow",
            "box-decoration-break",
            "transition",
            "transform",
            "transform-origin",
            "animation",
            "backface-visibility",
            "cursor"
        ],
        "indentation": 2,
        "string-quotes": "single",
        "no-duplicate-selectors": true,
        "color-hex-case": "lower",
        "color-hex-length": "long",
        "selector-combinator-space-after": "always",
        "selector-attribute-quotes": "always",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-brackets-space-inside": "never",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "number-leading-zero": "never",
        "function-url-quotes": "always",
        "font-family-name-quotes": "always-where-recommended",
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-parentheses-space-inside": "never",
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "always",
        "at-rule-no-unknown": null,
        "selector-class-pattern": null
    }
}
